[submodule "mintlify-docs"]
	path = mintlify-docs
	url = https://github.com/imthatcarlos/mintlify-docs.git
[submodule "hermes-plugin"]
	path = hermes-plugin
	url = git@github.com:imthatcarlos/sherwood-hermes-plugin.git
